footer.footer
    //- div here
    .footer__logo
        //- inside a div
        img(src='/img/logo-green.png' alt='Natours logo')
    ul.footer__nav
        li: a.footer__el(href='#') About us
        li: a.footer__el(href='#') Download app
        li: a.footer__el(href='#') Become a guide
        li: a.footer__el(href='#') Contact
        li: a.footer__el(href='#') Careers
    p.footer__copyright &copy; 2025 by Jonas Schmedtmann. All rights reserved.